node_modules/
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store
*.log

# Android
android/app/build/
android/.gradle/

# iOS
ios/Pods/
ios/*.xcworkspace
ios/build/
